<html>
<head>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
    <script src="angular-app.js"></script>
</head>
<body>


<div ng-app="project">

    <h2>Apigee UserGrid Endpoints</h2>
    <div ng-view></div>

    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
        <input type="text" ng-model="endpointName" placeholder="Enter a endpoint here" ng-change="declareEndpoint()">
        <hr/>
        <table>
            <thead style="margin: 0 0 10px 0">
            <tr>
                <th><input type="text" ng-model="search" class="search-query" placeholder="Search"></th>
                <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects.entities | filter:search | orderBy:'username'">
                <td><a href="{{project.username}}" target="_blank">{{project.username}}</a></td>
                <td><a href="{{project.title}}" target="_blank">{{project.title}}</a></td>
                <td><a href="{{project.uuid}}" target="_blank">{{project.uuid}}</a></td>
            </tr>
            </tbody>
        </table>
    </script>

</div>




</body>
</html>